@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

*,
*:after,
*:before{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html{
    scroll-behavior:smooth ;
}

body{
    font-family: var(--primary-font);
    font-size: 100%;
    font-weight: 400;
}

.nav {
  /* color: #089da1; */

  padding: 0rem 0 0rem;
  align-items: center;
  justify-content: space-between;
  /* margin-left: 250px; */
}
.nav a{
  color: rgb(247, 242, 242);
}

nav ul li {
  font-size: 20px;
  font-weight: 400;
  display: inline-block;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.nav .navbar-expand-lg .navbar-collapse {
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  margin-left: 300px;
  display: inline-flex;
}


.navbar-expand-lg .navbar-collapse {
  display: -ms-flexbox!important;
  display: flex!important;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  /* margin-top: -517px; */
}






#header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 20px 80px; */
  background:  #f6f9f9;
  box-shadow: 0 5px 15px rgba(34, 28, 28, 0.06);
  /* z-index:; */
  position: relative;
  top: 0;
  left: 0;
}



/* .navbar li a:hover,
            :active{
  color: #089da1;
} */

#site{
  background: url('background.jpg');
  background-size: cover;
  height: 90vh;
  width: 100%;
  background-position: top 25% right 0;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}


/* .text-danger{
  color: #0d0d0d !important;
} */

.explore-books .card{
    border: none;
    background-color: transparent;
    border-radius: 1rem;
    display: inline-flex;
}

.explore-books .card img{
    border-radius: 1rem;
    object-fit: cover;
    width: 100%;
    display: inline-flex;
}

.explore-books .card span{
    display: inline-flex;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--primary-color);
    padding-bottom: 1rem;
    border-bottom: 0.06rem solid #eee;
}




/*Books*/

.featured_books{
  width: 100%;
  height: 80vh;
  padding: 35px 0;
}



.featured_books h1{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  font-size: 45px;
  text-align: center;
}


.arrivals_books h1{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
  font-size: 45px;
  text-align: center;
}

.classics_books h1{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  font-size: 45px;
  text-align: center;
}


.featured_book_box{
  background-color: #e8f2f2;
  width: 95%;
  height: 60vh;
  margin: 30px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  overflow: hidden;
  overflow-x: scroll;
}



.featured_book_box .featured_book_card{
  width: 250px;
  height: 400px;
  text-align: center;
  padding: 5px;
  /* border: 1px solid #919191; */
  margin: auto 15px;
  background-color: #fff;
}

.featured_book_box .featured_book_card:hover{
  box-shadow: 0 0 5px #089da1;
}

.featured_book_box .featured_book_card .featurde_book_img img{
  height: 175px;
  margin-top: 10px;

}

.featured_book_box .featured_book_card .featurde_book_tag h2{
  font-size: 24px;
  margin: 12px;
  height: 60px;
  overflow: hidden;
}

.featured_book_box .featured_book_card .featurde_book_tag .writer{
  color: #919191;
}

.featured_book_box .featured_book_card .featurde_book_tag .categories{
  color: #089da1;
  margin-top: 8px;
}

.featured_book_box .featured_book_card .featurde_book_tag .book_price{
  margin-top: 8px;
  font-weight: bold;
  margin-bottom: 15px;
}

.featured_book_box .featured_book_card .featurde_book_tag .book_price sub{
  font-weight: 100;
  padding: 0 5px;
}

.featured_book_box .featured_book_card .featurde_book_tag .f_btn{
  padding: 8px 20px;
  margin-top: 10px;
  border: 2px solid #089da1;
  text-decoration: none;
  color: #000;
}

::-webkit-scrollbar{
  width: 10px;
  height: 5px;
}

::-webkit-scrollbar-track{
  box-shadow: inset 0 0 8px rgba(0,0,0,0.2);
}

::-webkit-scrollbar-thumb{
  background: #089da1;
  border-radius: 10px;
}


.search-container .input-open {
  width: 360px;
}
.search-container input {
  position: relative;
  width: 240px;
  height: 32px;
  border: none;
  border-bottom: 1px solid black;
  color: black;
  font-size: 16px;
  outline: 0;
  padding: 0 28px 0 0px;
  border-radius: 0;
  background: none;
  -webkit-transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  -o-transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  -o-opacity: 1;
  opacity: 1;
}



.container{
  max-width: 1170px;
  margin: auto;
}

.row{
  display: flex;
  flex-wrap: wrap;
}


ul{
  list-style: none;
}

.footer {
  margin-top: 4500px;
    background: #24262b;
    padding: 50px 0;
  }
  
.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4{
  font-size: 18px;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 50px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #089da1;
  height: 2px;
  box-sizing: border-box;
  width: 50px;

}

.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}

.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover{
  color: #ffffff;
  padding-left: 8px;
}

.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255,255,255,0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
  color: #24262b;
  background-color: #ffffff ;
}

/*  Signup */
/* .wrapper{
  border-top: 03px solid green ;
} */

.wrapper a{
  text-decoration: none;
  color: green;
}



 
.a-ws .a-ws-span12, div.a-column.a-span-last {
  margin-right: 0;
  float: right;
  margin-top: 100px;
}
.a-row .a-span12, .a-span12, .a-ws .a-row .a-ws-span12, .a-ws .a-ws-span12 {
  width: 100%;
  margin-right: 0;
}
.a-column.a-span-last {
  margin-right: 0;
  float: right;
}
.a-row .a-span12, .a-ws .a-row .a-ws-span12 {
  width: 99.948%;
}
.a-ws div.a-column, div.a-column {
  margin-right: 2%;
  float: left;
  min-height: 1px;
  overflow: visible;
}
.apb-browse-col-pad-right {
  padding-right: 6px;
}
.apb-browse-left-nav {
  border-right: 2px solid #ddd;
  word-break: break-word;
  width: 200px!important;
  margin-left: -200px;
  position: absolute;
} 


.a-container{
  margin-left: 13px;
}

.apb-browse-two-col-center-pad {
    padding-left: 200px;
}
.a-row {
    width: 100%;
}



.a-footer {
    background: #24262b;
    padding: 50px 0;
  }
  
.a-footer-col {
  width: 25%;
  padding: 0 15px;
}

.a-footer-col h4{
  font-size: 18px;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 50px;
  font-weight: 500;
  position: relative;
}

.a-footer-col h4::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #089da1;
  height: 2px;
  box-sizing: border-box;
  width: 50px;

}

.a-footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}

.a-footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}

.a-footer-col ul li a:hover{
  color: #ffffff;
  padding-left: 8px;
}

.a-footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255,255,255,0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.a-footer-col .social-links a:hover{
  color: #24262b;
  background-color: #ffffff ;
}




@media (max-width: 991px) {
  .header {
    display: inline-block;
  }

  /* .header {
    padding: 1.5rem 2rem;
  } */

  section {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }

  .header .navbar {
    position: absolute;
    top: 100%;
    right: -100%;
    background: #fff;
    width: 30rem;
    height: calc(100vh - 9.5rem);
  }

  .header .navbar .active {
    right: 0;
  }

  .header .navbar a {
    color: var(--black);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .header .search-form {
    width: 90%;
    right: 2rem;
  }

  .home {
    background-position: left;
    justify-content: center;
    text-align: center;
  }

  .home .content h3 {
    font-size: 4.5rem;
  }

  .home .content p {
    font-size: 1.5rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
