{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<main class="main-content-wrapper">
    <!-- Slider area Start -->
    <section class="homepage-slider mb--75 mb-md--55">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div id="site">
                        <div class="col-lg-6 col-md-12 site-title text-dark">
                            <h1 class="title-text text-uppercase">
                                BOOKS WILL EXPAND YOUR KNOWLEDGE
                            </h1>
                            <p>
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci
                                harum, tempora corrupti quisquam vero qui facere consequatur
                                repudiandae, inventore voluptas tempore ad doloribus. Voluptatum
                                totam ducimus, aliquid ipsam sapiente illum!
                            </p>
                            <div class="site-buttons">
                                <a href="shop1.html" class="site-buttons">
                                    <div class="d-flex flex-row flex-wrap">
                                        <button type="button" class="btn button btn-success mr-4">
                                            Explore!
                                        </button>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Slider area End -->


    <div class="arrivals_books">

        <h1>New Arrivals</h1>

        <div class="featured_book_box">

            <div class="featured_book_card">

                <div class="featurde_book_img">
                    <img src="image/arrival_7.jpg">
                </div>

                <div class="featurde_book_tag">
                    <h2>New Arrivals</h2>
                    <p class="writer">John Deo</p>
                    <div class="categories">Thriller, Horror, Romance</div>
                    <p class="book_price text-secondary">$25.50<sub><del>$28.60</del></sub></p>
                    <a href="#" class="f_btn">Learn More</a>
                </div>
            </div>

            <div class="featured_book_card">

                <div class="featurde_book_img">
                    <img src="image/arrival_8.webp">
                </div>

                <div class="featurde_book_tag">
                    <h2>New Arrivals</h2>
                    <p class="writer">John Deo</p>
                    <div class="categories">Thriller, Horror, Romance</div>
                    <p class="book_price text-secondary">$25.50<sub><del>$28.60</del></sub></p>
                    <a href="#" class="f_btn">Learn More</a>
                </div>

            </div>

            <div class="featured_book_card">

                <div class="featurde_book_img">
                    <img src="image/arrival_9.jpg">
                </div>

                <div class="featurde_book_tag">
                    <h2>New Arrivals</h2>
                    <p class="writer">John Deo</p>
                    <div class="categories">Thriller, Horror, Romance</div>
                    <p class="book_price text-secondary">$25.50<sub><del>$28.60</del></sub></p>
                    <a href="#" class="f_btn">Learn More</a>
                </div>

            </div>

            <div class="featured_book_card">

                <div class="featurde_book_img">
                    <img src="image/arrival_6.jpg">
                </div>

                <div class="featurde_book_tag">
                    <h2>New Arrivals</h2>
                    <p class="writer">John Deo</p>
                    <div class="categories">Thriller, Horror, Romance</div>
                    <p class="book_price text-secondary">$25.50<sub><del>$28.60</del></sub></p>
                    <a href="#" class="f_btn">Learn More</a>
                </div>

            </div>

            <div class="featured_book_card">

                <div class="featurde_book_img">
                    <img src="image/arrival_9.jpg">
                </div>

                <div class="featurde_book_tag">
                    <h2>New Arrivals</h2>
                    <p class="writer">John Deo</p>
                    <div class="categories">Thriller, Horror, Romance</div>
                    <p class="book_price text-secondary">$25.50<sub><del>$28.60</del></sub></p>
                    <a href="#" class="f_btn">Learn More</a>
                </div>

            </div>

            <div class="featured_book_card">

                <div class="featurde_book_img">
                    <img src="image/arrival_8.webp">
                </div>

                <div class="featurde_book_tag">
                    <h2>New Arrivals</h2>
                    <p class="writer">John Deo</p>
                    <div class="categories">Thriller, Horror, Romance</div>
                    <p class="book_price text-secondary">$25.50<sub><del>$28.60</del></sub></p>
                    <a href="#" class="f_btn">Learn More</a>
                </div>
            </div>

        </div>

    </div>


    <!-- Features -->


    <div class="featured_books">

        <h1>Featured Books</h1>

        <div class="featured_book_box">

            <div class="featured_book_card">

                <div class="featurde_book_img">
                    <img src="image/book_6.jpg">
                </div>

                <div class="featurde_book_tag">
                    <h2>Featured Books</h2>
                    <p class="writer">John Deo</p>
                    <div class="categories">Thriller, Horror, Romance</div>
                    <p class="book_price text-secondary">$25.50<sub><del>$28.60</del></sub></p>
                    <a href="#" class="f_btn">Learn More</a>
                </div>

            </div>

            <div class="featured_book_card">

                <div class="featurde_book_img">
                    <img src="image/book_7.png">
                </div>

                <div class="featurde_book_tag">
                    <h2>Featured Books</h2>
                    <p class="writer">John Deo</p>
                    <div class="categories">Thriller, Horror, Romance</div>
                    <p class="book_price text-secondary">$25.50<sub><del>$28.60</del></sub></p>
                    <a href="#" class="f_btn">Learn More</a>
                </div>

            </div>

            <div class="featured_book_card">

                <div class="featurde_book_img">
                    <img src="image/book_8.png">
                </div>

                <div class="featurde_book_tag">
                    <h2>Featured Books</h2>
                    <p class="writer">John Deo</p>
                    <div class="categories">Thriller, Horror, Romance</div>
                    <p class="book_price text-secondary">$25.50<sub><del>$28.60</del></sub></p>
                    <a href="#" class="f_btn">Learn More</a>
                </div>

            </div>

            <div class="featured_book_card">

                <div class="featurde_book_img">
                    <img src="image/book_9.jpg">
                </div>

                <div class="featurde_book_tag">
                    <h2>Featured Books</h2>
                    <p class="writer">John Deo</p>
                    <div class="categories">Thriller, Horror, Romance</div>
                    <p class="book_price text-secondary">$25.50<sub><del>$28.60</del></sub></p>
                    <a href="#" class="f_btn">Learn More</a>
                </div>

            </div>

            <div class="featured_book_card">

                <div class="featurde_book_img">
                    <img src="image/book_10.png">
                </div>

                <div class="featurde_book_tag">
                    <h2>Featured Books</h2>
                    <p class="writer">John Deo</p>
                    <div class="categories">Thriller, Horror, Romance</div>
                    <p class="book_price text-secondary">$25.50<sub><del>$28.60</del></sub></p>
                    <a href="#" class="f_btn">Learn More</a>
                </div>

            </div>

            <div class="featured_book_card">

                <div class="featurde_book_img">
                    <img src="image/book_11.jpg">
                </div>

                <div class="featurde_book_tag">
                    <h2>Featured Books</h2>
                    <p class="writer">John Deo</p>
                    <div class="categories">Thriller, Horror, Romance</div>
                    <p class="book_price text-secondary">$25.50<sub><del>$28.60</del></sub></p>
                    <a href="#" class="f_btn">Learn More</a>
                </div>

            </div>

            <div class="featured_book_card">

                <div class="featurde_book_img">
                    <img src="image/book_12.png">
                </div>

                <div class="featurde_book_tag">
                    <h2>Featured Books</h2>
                    <p class="writer">John Deo</p>
                    <div class="categories">Thriller, Horror, Romance</div>
                    <p class="book_price text-secondary">$25.50<sub><del>$28.60</del></sub></p>
                    <a href="#" class="f_btn">Learn More</a>
                </div>

            </div>

            <div class="featured_book_card">

                <div class="featurde_book_img">
                    <img src="image/book_15.png">
                </div>

                <div class="featurde_book_tag">
                    <h2>Featured Books</h2>
                    <p class="writer">John Deo</p>
                    <div class="categories">Thriller, Horror, Romance</div>
                    <p class="book_price text-secondary">$25.50<sub><del>$28.60</del></sub></p>
                    <a href="#" class="f_btn">Learn More</a>
                </div>

            </div>

        </div>

    </div>





    <!--Classics-->
    <div class="classics_books">

        <h1>Classics</h1>

        <div class="featured_book_box">

            <div class="featured_book_card">

                <div class="featurde_book_img">
                    <img src="image/arrival_7.jpg">
                </div>

                <div class="featurde_book_tag">
                    <h2>Classics</h2>
                    <p class="writer">John Deo</p>
                    <div class="categories">Thriller, Horror, Romance</div>
                    <p class="book_price text-secondary">$25.50<sub><del>$28.60</del></sub></p>
                    <a href="#" class="f_btn">Learn More</a>
                </div>

            </div>

            <div class="featured_book_card">

                <div class="featurde_book_img">
                    <img src="image/arrival_8.webp">
                </div>

                <div class="featurde_book_tag">
                    <h2>Classics</h2>
                    <p class="writer">John Deo</p>
                    <div class="categories">Thriller, Horror, Romance</div>
                    <p class="book_price text-secondary">$25.50<sub><del>$28.60</del></sub></p>
                    <a href="#" class="f_btn">Learn More</a>
                </div>

            </div>


            <div class="featured_book_card">

                <div class="featurde_book_img">
                    <img src="image/arrival_3.jpg">
                </div>

                <div class="featurde_book_tag">
                    <h2>Classics</h2>
                    <p class="writer">John Deo</p>
                    <div class="categories">Thriller, Horror, Romance</div>
                    <p class="book_price text-secondary">$25.50<sub><del>$28.60</del></sub></p>
                    <a href="#" class="f_btn">Learn More</a>
                </div>

            </div>

            <div class="featured_book_card">

                <div class="featurde_book_img">
                    <img src="image/arrival_2.jpg">
                </div>

                <div class="featurde_book_tag">
                    <h2>Classics</h2>
                    <p class="writer">John Deo</p>
                    <div class="categories">Thriller, Horror, Romance</div>
                    <p class="book_price text-secondary">$25.50<sub><del>$28.60</del></sub></p>
                    <a href="#" class="f_btn">Learn More</a>
                </div>

            </div>

            <div class="featured_book_card">

                <div class="featurde_book_img">
                    <img src="image/arrival_6.jpg">
                </div>

                <div class="featurde_book_tag">
                    <h2>Classics</h2>
                    <p class="writer">John Deo</p>
                    <div class="categories">Thriller, Horror, Romance</div>
                    <p class="book_price text-secondary">$25.50<sub><del>$28.60</del></sub></p>
                    <a href="#" class="f_btn">Learn More</a>
                </div>

            </div>

            <div class="featured_book_card">

                <div class="featurde_book_img">
                    <img src="image/arrival_9.jpg">
                </div>

                <div class="featurde_book_tag">
                    <h2>Classics</h2>
                    <p class="writer">John Deo</p>
                    <div class="categories">Thriller, Horror, Romance</div>
                    <p class="book_price text-secondary">$25.50<sub><del>$28.60</del></sub></p>
                    <a href="#" class="f_btn">Learn More</a>
                </div>

            </div>

            <div class="featured_book_card">

                <div class="featurde_book_img">
                    <img src="image/arrival_8.webp">
                </div>

                <div class="featurde_book_tag">
                    <h2>Classics</h2>
                    <p class="writer">John Deo</p>
                    <div class="categories">Thriller, Horror, Romance</div>
                    <p class="book_price text-secondary">$25.50<sub><del>$28.60</del></sub></p>
                    <a href="#" class="f_btn">Learn More</a>
                </div>

            </div>

        </div>

    </div>
</main>
{% endblock %}