{% extends 'layout.html' %}

{% block title %}Login{% endblock %}

{% block content %}

<div class="container" style="margin: 20px auto;">
  <div class="row mt-5">
    <div class="col-lg-4 bg-white m-auto rounded-top wrapper">
      <h2 class="text-center pt-3">Login</h2>
      <!-- Form begins -->
      <form action="{{ url_for('login') }}" method="post" class="py-3" autocomplete="off">
        <div class="input-group mb-3">
          <span class="input-group-text"><i class="fa fa-envelope"></i></span>
          <input type="text" name="email" class="form-control" placeholder="Email" required autofocus />
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text"><i class="fa fa-lock"></i></span>
          <input type="password" name="password" class="form-control" placeholder="Password" required />
        </div>
        <div class="msg">{{ msg }}</div>
        <div class="d-grid gap-2 ">
          <button type="submit" class="btn btn-lg btn-success btn-block">Login</button>

          <p class="text-center mt-2"> <a href="#"> Forgot password? </a>
          </p>
          <p class="text-center" style="color: rgb(46, 43, 43);">
            Don't have an account?<a href="{{ url_for('signup') }}"> Create new account </a>
          </p>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}