{% extends 'layout.html' %}

{% block title %}Wishlist{% endblock %}

{% block content %}
  <div class="wrapper">
     <!-- Header Start -->
     <header class="header ">
        <div class="nav ">
            <nav class="navbar navbar-expand-lg">
                <a class="navbar-brand" href="#"><img src="{{ url_for('static', filename = 'logo.svg') }}" alt="logo"
                        style="width: 200px; margin-top: -10px;" /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarNav" style="margin-left: 20%;">
                    <div class="mr-auto"></div>
                    <ul class="navbar-nav ">
                        <li class="nav-item active">
                            <a class="nav-link" style="color: #000;" href="{{ url_for('home') }}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="color: #000;" href="{{ url_for('shop') }}">Books</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="color: #000;" href="{{ url_for('cart') }}">Cart</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="color: #000;" href="Profile.html">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="color: #000;" href="{{ url_for('wishlist') }}">Wishlist<span
                                    class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="color: #000;" href="{{ url_for('logout') }}">Logout</a>
                        </li>


                    </ul>
                </div>
            </nav>
            <div class="header__main-right">
                <div class="header-toolbar-wrap">
                    <div class="header-toolbar">
                        <!-- <div class="header-toolbar__item header-toolbar--search-btn">
                        <a href="#searchForm" class="header-toolbar__btn toolbar-btn">
                            <i class="fas fa-search" style="color: rgb(25, 22, 22);"></i>
                        </a>
                    </div> -->
                        <div class="search-container right-element ml-3 mr-4 text-white"><input class="" type="search"
                                placeholder="Search" id="searchField" autocomplete="off" value="">
                            <div class="searchIcon"><i class="fa fa-search"></i></div>
                        </div>
                        <!-- <div class="header-toolbar__item header-toolbar--minicart-btn">
                        <a href="Addtocartpage.html" class="header-toolbar__btn toolbar-btn">
                          <i class="fas fa-thin fa-cart-shopping" style="color: rgb(34, 34, 34);"></i>
                            <span>0</span>
                        </a>
                    </div> -->
                        <div class="header-toolbar__item d-block d-lg-none">
                            <a href="#offcanvasMenu" class="header-toolbar__btn toolbar-btn menu-btn">
                                <!-- <div class="hamburger-icon">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div> -->
                            </a>
                        </div>
                    </div>
                </div>
            </div>


            <!-- </div> -->
    </header>


    <div class="main-content-wrapper">
        <div class="page-content-inner pt-md-40 pb-md-60" style="padding-top: 80px;padding-bottom: 80px; ">
             <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="table-content table-responsive">
                                    <div class="text-center m-4">
                                        <h1>Your wishlist is empty</h1>
                                        <a href="{{ url_for('home') }}">
                                        <button class="btn btn-size-md mt-2">Back to Home</button>
                                    </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        </div>
    </div>






<style>

.btn-fullwidth {
    display: block;
    width: 100%;
}
.btn-size-md {
    padding: 16px 30px;
}
.btn {
    color: #ffffff;
    background-color: #089da1;
    padding: 20px 40px;
}

 .row {
    --bs-gutter-x: 30px;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -.5);
    margin-left: calc(var(--bs-gutter-x) * -.5);
}
body {
    font-weight: 400;
    overflow-x: hidden;
    overflow-y: auto;
}

.a-footer{
    margin-top: 450px;
}

</style>








    



















{% endblock %}